pax-warp-jaxb/src/main/resources/xsd/warp.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:org.ops4j.pax.warp:changelog:0.1"
    xmlns="urn:org.ops4j.pax.warp:changelog:0.1" elementFormDefault="qualified">


    <xsd:element name="databaseChangeLog">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="changeSet" type="ChangeSet" />
                    <xsd:element name="include" type="Include" />
                </xsd:choice>
            </xsd:sequence>
            <xsd:attributeGroup ref="changeLogAttributes" />
            <xsd:anyAttribute namespace="##other" />
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="ColumnReference">
        <xsd:attribute name="columnName" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="TableReference">
        <xsd:attributeGroup ref="tableNameAttribute" />
    </xsd:complexType>

    <xsd:attributeGroup name="changeLogAttributes">
        <xsd:attribute name="logicalFilePath" type="xsd:string" />
        <xsd:attribute name="version" type="xsd:string" use="required" />
    </xsd:attributeGroup>

    <xsd:attributeGroup name="changeSetAttributes">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:attribute name="author" type="xsd:string" use="required" />
        <xsd:attribute name="context" type="xsd:string" />
        <xsd:attribute name="labels" type="xsd:string" />
        <xsd:attribute name="dbms" type="xsd:string" />
        <xsd:attribute name="runOnChange" type="xsd:boolean" default="false" />
        <xsd:attribute name="runAlways" type="xsd:boolean" default="false" />
        <xsd:attribute name="failOnError" type="xsd:boolean" default="true" />
        <xsd:attribute name="runInTransaction" type="xsd:boolean" default="true" />
        <xsd:attribute name="logicalFilePath" type="xsd:string" />
    </xsd:attributeGroup>

    <xsd:simpleType name="SqlType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="int8" />
            <xsd:enumeration value="int16" />
            <xsd:enumeration value="int32" />
            <xsd:enumeration value="int64" />
            <xsd:enumeration value="decimal" />
            <xsd:enumeration value="float" />
            <xsd:enumeration value="double" />
            <xsd:enumeration value="char" />
            <xsd:enumeration value="varchar" />
            <xsd:enumeration value="clob" />
            <xsd:enumeration value="blob" />
            <xsd:enumeration value="boolean" />
            <xsd:enumeration value="date" />
            <xsd:enumeration value="time" />
            <xsd:enumeration value="timestamp" />
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:attributeGroup name="column">
        <xsd:attribute name="name" type="xsd:string" />
        <xsd:attribute name="computed" type="xsd:boolean" />
        <xsd:attribute name="type" type="SqlType" />
        <xsd:attribute name="primaryKey" type="xsd:boolean" />
        <xsd:attribute name="length" type="xsd:int" />
        <xsd:attribute name="precision" type="xsd:int" />
        <xsd:attribute name="scale" type="xsd:int" />
        <xsd:attribute name="value" type="xsd:string" />
        <xsd:attribute name="valueNumeric" type="xsd:int" />
        <xsd:attribute name="valueBoolean" type="xsd:boolean" />
        <xsd:attribute name="valueDate" type="xsd:date" />
        <xsd:attribute name="valueBlobFile" type="xsd:string" />
        <xsd:attribute name="valueClobFile" type="xsd:string" />
        <xsd:attribute name="defaultValue" type="xsd:string" />
        <xsd:attribute name="defaultValueNumeric" type="xsd:int" />
        <xsd:attribute name="defaultValueDate" type="xsd:date" />
        <xsd:attribute name="defaultValueBoolean" type="xsd:boolean" />
        <xsd:attribute name="autoIncrement" type="xsd:boolean" />
        <xsd:attribute name="startWith" type="xsd:long" />
        <xsd:attribute name="incrementBy" type="xsd:long" />
        <xsd:attribute name="remarks" type="xsd:string" />
        <xsd:attribute name="encoding" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <xsd:documentation>
                        Used with valueClobFile to specify file encoding explicitly.
                    </xsd:documentation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="constraintsAttributes">
        <xsd:attribute name="nullable" type="xsd:boolean" />
        <xsd:attribute name="primaryKey" type="xsd:boolean" />
        <xsd:attribute name="primaryKeyName" type="xsd:string" />
        <xsd:attribute name="primaryKeyTablespace" type="xsd:string" />
        <xsd:attribute name="unique" type="xsd:boolean" />
        <xsd:attribute name="uniqueConstraintName" type="xsd:string" />
        <xsd:attribute name="references" type="xsd:string" />
        <xsd:attribute name="referencedTableName" type="xsd:string" />
        <xsd:attribute name="referencedColumnNames" type="xsd:string" />
        <xsd:attribute name="foreignKeyName" type="xsd:string" />
        <xsd:attribute name="deleteCascade" type="xsd:boolean" />
        <xsd:attribute name="deferrable" type="xsd:boolean" />
        <xsd:attribute name="initiallyDeferred" type="xsd:boolean" />
        <xsd:attribute name="checkConstraint" type="xsd:string" />
    </xsd:attributeGroup>

    <xsd:attributeGroup name="createIndex">
        <xsd:attributeGroup ref="tableNameAttribute" />
        <xsd:attributeGroup ref="indexName" />
        <xsd:attribute name="associatedWith" type="xsd:string" />
        <xsd:attribute name="unique" type="xsd:boolean" />
        <xsd:attribute name="clustered" type="xsd:boolean" />
        <xsd:attribute name="tablespace" type="xsd:string" />
    </xsd:attributeGroup>

    <xsd:attributeGroup name="indexName">
        <xsd:attribute name="indexName" type="xsd:string" use="required" />
    </xsd:attributeGroup>

    <xsd:attributeGroup name="sequenceAttributes">
        <xsd:attribute name="catalogName" type="xsd:string" />
        <xsd:attribute name="schemaName" type="xsd:string" />
        <xsd:attribute name="sequenceName" type="xsd:string" use="required" />
        <xsd:attribute name="startValue" type="xsd:string" />
        <xsd:attribute name="incrementBy" type="xsd:string" />
        <xsd:attribute name="maxValue" type="xsd:string" />
        <xsd:attribute name="minValue" type="xsd:string" />
        <xsd:attribute name="ordered" type="xsd:boolean" />
        <xsd:attribute name="cacheSize" type="xsd:nonNegativeInteger" />
    </xsd:attributeGroup>

    <xsd:attributeGroup name="tableNameAttribute">
        <xsd:attribute name="catalogName" type="xsd:string" />
        <xsd:attribute name="schemaName" type="xsd:string" />
        <xsd:attribute name="tableName" type="xsd:string" use="required" />
    </xsd:attributeGroup>

    <xsd:complexType name="ChangeSet">
        <xsd:sequence>
            <xsd:element ref="comment" minOccurs="0" />
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:group ref="changeSetChildren" />
            </xsd:choice>
        </xsd:sequence>
        <xsd:attributeGroup ref="changeSetAttributes" />
        <xsd:anyAttribute namespace="##other" />
    </xsd:complexType>

    <xsd:complexType name="Include">
        <xsd:attribute name="file" type="xsd:string" use="required" />
        <xsd:attribute name="relativeToChangelogFile" type="xsd:boolean" />
        <xsd:anyAttribute namespace="##other" />
    </xsd:complexType>

    <xsd:element name="comment" type="xsd:string" />


    <xsd:complexType name="AddForeignKey">
        <xsd:sequence>
            <xsd:element name="baseTable" type="TableReference" />
            <xsd:element name="referencedTable" type="TableReference" />
            <xsd:element name="columnPair" type="ColumnPair" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="constraintName" type="xsd:string" use="required" />
        <xsd:attribute name="deferrable" type="xsd:boolean" />
        <xsd:attribute name="initiallyDeferred" type="xsd:boolean" />
        <xsd:attribute name="deleteCascade" type="xsd:boolean" />
        <xsd:attribute name="onDelete" type="fkCascadeActionOptions" />
        <xsd:attribute name="onUpdate" type="fkCascadeActionOptions" />
        <xsd:attribute name="referencesUniqueColumn" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="DropForeignKey">
        <xsd:sequence>
            <xsd:element name="baseTable" type="TableReference" />
        </xsd:sequence>
        <xsd:attribute name="constraintName" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="DropPrimaryKey">
        <xsd:attributeGroup ref="tableNameAttribute" />
        <xsd:attribute name="constraintName" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="ColumnPair">
        <xsd:sequence>
            <xsd:element name="base" type="ColumnReference" />
            <xsd:element name="referenced" type="ColumnReference" />
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="AddPrimaryKey">
        <xsd:sequence>
            <xsd:element name="column" type="xsd:string" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attributeGroup ref="tableNameAttribute" />
        <xsd:attribute name="constraintName" type="xsd:string" />
        <xsd:attribute name="tablespace" type="xsd:string" />
        <xsd:attribute name="clustered" type="xsd:boolean" />
    </xsd:complexType>


    <xsd:element name="addUniqueConstraint">
        <xsd:complexType>
            <xsd:attributeGroup ref="tableNameAttribute" />
            <xsd:attribute name="columnNames" type="xsd:string" use="required" />
            <xsd:attribute name="constraintName" type="xsd:string" />
            <xsd:attribute name="tablespace" type="xsd:string" />
            <xsd:attribute name="disabled" type="xsd:boolean" />
            <xsd:attribute name="deferrable" type="xsd:boolean" />
            <xsd:attribute name="initiallyDeferred" type="xsd:boolean" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="column">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="constraints" minOccurs="0" />
            </xsd:sequence>
            <xsd:attributeGroup ref="column" />
        </xsd:complexType>
    </xsd:element>




    <xsd:element name="constraints">
        <xsd:complexType>
            <xsd:attributeGroup ref="constraintsAttributes" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="createIndex">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="column" maxOccurs="unbounded" />
                <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:attributeGroup ref="createIndex" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="createSequence">
        <xsd:complexType>
            <xsd:attributeGroup ref="sequenceAttributes" />
            <xsd:attribute name="cycle" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>
                        true for a cycling sequence, false for a non-cycling
                        sequence.
                        Default is false.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="CreateTable">
        <xsd:sequence>
            <xsd:element ref="column" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attributeGroup ref="tableNameAttribute" />
        <xsd:attribute name="tablespace" type="xsd:string" />
        <xsd:attribute name="remarks" type="xsd:string" />
        <xsd:anyAttribute namespace="##other" processContents="lax" />
    </xsd:complexType>

    <xsd:complexType name="DropTable">
        <xsd:attributeGroup ref="tableNameAttribute" />
    </xsd:complexType>

    <xsd:complexType name="TruncateTable">
        <xsd:attributeGroup ref="tableNameAttribute" />
    </xsd:complexType>

    <xsd:element name="createView">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="catalogName" type="xsd:string" />
                    <xsd:attribute name="schemaName" type="xsd:string" />
                    <xsd:attribute name="viewName" type="xsd:string" use="required" />
                    <xsd:attribute name="replaceIfExists" type="xsd:boolean" />
                    <xsd:attribute name="fullDefinition" type="xsd:boolean" />
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="Insert">
        <xsd:sequence>
            <xsd:element name="column" type="ColumnValue" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attributeGroup ref="tableNameAttribute" />
        <xsd:attribute name="dbms" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="ColumnValue">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string" />
                <xsd:attribute name="type" type="xsd:string" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


    <xsd:group name="changeSetChildren">
        <xsd:choice>
            <xsd:element name="createTable" type="CreateTable" />
            <xsd:element name="addPrimaryKey" type="AddPrimaryKey" />
            <xsd:element name="addForeignKey" type="AddForeignKey" />
            <xsd:element name="dropForeignKey" type="DropForeignKey" />
            <xsd:element name="dropPrimaryKey" type="DropPrimaryKey" />
            <xsd:element name="truncateTable" type="TruncateTable" />
            <xsd:element name="dropTable" type="DropTable" />
            <xsd:element name="insert" type="Insert"/>
            <xsd:element ref="createView" />
            <xsd:element ref="createSequence" />
            <xsd:element ref="createIndex" />
            <xsd:element ref="addUniqueConstraint" />

        </xsd:choice>
    </xsd:group>



    <xsd:simpleType name="fkCascadeActionOptions">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="CASCADE"></xsd:enumeration>
            <xsd:enumeration value="SET NULL"></xsd:enumeration>
            <xsd:enumeration value="SET DEFAULT"></xsd:enumeration>
            <xsd:enumeration value="RESTRICT"></xsd:enumeration>
            <xsd:enumeration value="NO ACTION"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
